---
import CircleArrowUpRight from "./iconos/CircleArrowUpRight.astro";
import GithubIcon from "./iconos/GithubIcon.astro";
interface Props {
  name: string;
  title: string;
  body: string;
  href: string;
  imageHref: string;
  github: string;
}

const { name, href, title, body, imageHref, github } = Astro.props;
---

<div
  class="link-card relative flex flex-col items-center justify-center w-full p-[1px] transition-all rounded-md bg-gradient-to-b from-white/20 via-transparent to-transparent hover:via-white/10"
>
  <img
    src={imageHref}
    alt=`Una imagen de mi proyecto ${name}`
    class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
  />
  <h3 class="mt-4 text-2xl font-bold text-center text-white">
    {title}
  </h3>
  <p class="mb-4 p-1 text-pretty">
    {body}
  </p>

  <div class="flex flex-row">
    <a href={github} class="px-4 mx-4" target="_blank" rel="noopener">
      <GithubIcon class="size-6" />
    </a>
    <a href={href} class="px-4 mx-4" target="_blank" rel="noopener">
      <CircleArrowUpRight class="size-6" />
    </a>
  </div>
</div>

<style>
  .link-card {
    list-style: none;
  }
</style>
