---
import CircleArrowUpRight from "./iconos/CircleArrowUpRight.astro";
import GithubIcon from "./iconos/GithubIcon.astro";
interface Props {
  name: string;
  title: string;
  body: string;
  href: string;
  imageHref: string;
  github: string;
}

const { name, href, title, body, imageHref, github } = Astro.props;
---

<div class="project-card grid gap-4 sm:gap-7 md:grid-cols-2">
  <img
    src={imageHref}
    alt=`Una imagen de mi proyecto ${name}`
    class="project-image"
  />
  <div class="flex flex-col gap-3 justify-center">
    <h3 class="mt-1 text-2xl font-bold text-white">
      {title}
    </h3>
    <p class="text-sm md:text-xl mb-1 p-1 text-pretty">
      {body}
    </p>

    <div class="flex flex-row">
      <a href={github} class="px-4 mx-4" target="_blank" rel="noopener">
        <GithubIcon class="size-6" />
      </a>
      <a href={href} class="px-4 mx-4" target="_blank" rel="noopener">
        <CircleArrowUpRight class="size-6" />
      </a>
    </div>
  </div>
</div>

<style>
  .projec-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
</style>
